@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Hello, thanks for taking the time to look at my about page! I am a student at Clover Park Technical College and this is my website.</p>
<p>I created this project because I felt that there are a great many subgenres of music and wanted to make them easier to discover. </p>
